Source: gkamus
Section: utils
Priority: optional
Maintainer: Mahyuddin Susanto <udienz@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
		autotools-dev, 
		libgtk2.0-dev | libgtk3.0-dev,
		libtool,
		cdbs,
		quilt
Standards-Version: 3.9.1
Homepage: http://gkamus.sourceforge.net/
Vcs-Bzr: lp:gkamus
Vcs-Browser: https://code.launchpad.net/~garuda-id/gkamus/ubuntu

Package: gkamus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Indonesian English dictionary
 Indonesian English dictionary that contain 23000 words and definitions.
 Smiliar to gidic or Linguist.
 .
 Allowing users to adding more words/definitions or edtting words/definitions
 that exist in database
